@import '../variables.scss';
.main-container{
    display: flex;
    
}
.main-main{
    flex-grow: 1;
}
.home{
    background:$primary-dark;
    width: 100%;
    height: 100vh;
    display: flex;
}
.home-nav{
    width: 60px;
}

.home-child{
    flex-grow: 1;
}
.main-cards{
    width: 500px;
}
.main-card{
    height: 200px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 20px;
}
.pos{
    max-width: 400px;
    
}
.pos-header{
    background: $primary-light;
    padding: 1px 20px;   
}